form {
  display: flex;
  margin: 10px;
  padding: 2px;
}
.border {
  border: 2px solid;
}
.max-width {
  width: 100%;
}
.width-half {
  width: 50%;
}
.flex {
  display: flex;
  flex-direction: row;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
